<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"> </script>

  <script src="../scripts/jqPlot/jquery.jqplot.js"></script>
  <script src="../scripts/jqPlot/jqplot.barRenderer.js"></script>
  <script src="../scripts/jqPlot/jqplot.pieRenderer.js"></script>
  <script src="../scripts/jqPlot/jqplot.categoryAxisRenderer.js"></script>
  <script src="../scripts/jqPlot/jqplot.pointLabels.js"></script>
  <script src="../scripts/script.js"></script>

  <link rel="stylesheet" href="../public/css/jquery.jqplot.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
  <form action="/" method="POST">

    <fieldset>
      <label for="position">Where should the values to be placed at?</label>
      <input type="text" id="position" name="position"
      class="ghost-input" placeholder="Enter a value" required>

      <input type="submit" class="ghost-button" value="Submit">

    </fieldset>




  </form>
</body>

</html>
